<h1><%=@book.title%> (<%=@book.pages%> pages) </h1>

<h2>Authors:</h2>
<ul>

<% @book.authors.each do |author| %>
  <li>
  <%= form_for(author) do |f| %>
    <%= f.label :name, (link_to "#{author.name} (b.#{author.birth_year})", author) %> 
    <%= f.hidden_field :book_ids %>
    <%= hidden_field_tag @book %>
    <%= f.submit "Remove author" %>
  <% end %>
  </li>
<% end %>
</ul>


Author
<%= form_for(@book) do |f| %>
  <%= f.collection_select(:authors, Author.all, :id, :name) %>
  <%= f.submit "Add author" %>
<% end %>
