<h1><%=@book.title%> (<%=@book.pages%> pages) </h1>

<h2>Authors:</h2>
<ul>

<% @book.authors.each do |author| %>
  <li>
  <%= link_to author.name, author %> (b. <%=author.birth_year%>)
  <%= button_to "Remove author", author, method: :delete %>
  </li>
<% end %>
</ul>

Author
<%= form_for(@book) do |f| %>
  <%= f.collection_select(:authors, Author.all, :id, :name) %>
  <%= f.submit "Add author" %>
<% end %>
